$primary-color: #FF8BA5;
$dark-color: #3F3353;
$purple-light: #9A7EC7;
$danger-color: #A61B1B;
$success-color: #199B3A;
$max-width: 1100px;

// Set text color based on a background
@function set-text-color($color){
    @if(lightness($color) > 50){
        @return #333;
    } @else {
        @return #fff;
    }
}

// Set background and text color 

@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color)
}