// Container

.container {
    max-width: $max-width;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.dark-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}



// Text styles 

.x-large {
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.text-primary {
    color: $primary-color;
}

.text-white {
    color: #fff;
}

.text-secondary {
    color: $secondary-color;
}

.border-white {
    border: 1px solid #fff;
}

// Buttons 

.btn {
    display: inline-block;
    background: $primary-color;
    color: #ffffff;
    padding: 0.5rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 0.5rem;
    outline: none;
    border-radius: 0.35rem;
    transition: all 0.4s ease-in;
    &.btn-primary{
        @include set-background($primary-color);
        &:hover {
            background: lighten($primary-color, 10%);
        }
    }
    &.btn-secondary{
        @include set-background($secondary-color);
        &:hover {
            background: lighten($secondary-color, 10%);
        }
    }
    &-submit {
        width: 100%;
        padding: 0.75rem 0;
    }
}

// Alerts

.alert {
    padding: 0.75rem;
    margin: 1.25rem;
    opacity: 0.9;
    background: $secondary-color;

    &.alert-primary {
        @include set-background($primary-color)
    }
    &.alert-secondary {
        @include set-background($secondary-color)
    }
    &.alert-dark {
        @include set-background($dark-color)
    }
    &.alert-danger {
        @include set-background($danger-color)
    }
    &.alert-success {
        @include set-background($success-color)
    }
}

.table {
    th,td {
        padding: 1rem;
        text-align: left;
    }
    th {
        background-color: rgba($color: #fff, $alpha: 0.8);
        color: $primary-color;
    }
}

.rounded-img {
    border-radius: 50%;
}